@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}
body {
  height: 100vh;
  background: hsl(212, 45%, 89%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin-top: 10rem;
  border-radius: 25px;
  max-width: 25rem;
  padding: 0.75rem;
  background-color: hsl(0, 0%, 100%);
}

.card-text {
  display: flex;
  flex-direction: column;
  padding: 0 0.75rem;
}

.card-title {
  padding: 1rem 0rem;
  font-weight: 700;
  font-size: 1.75rem;
  text-align: center;
}

.card-description {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 1.5rem;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: red;
  }
}
